#list { /*your fixed height*/
    -webkit-column-count: 1;
       -moz-column-count: 3;
            column-count: 1; /*3 in those rules is just placeholder -- can be anything*/
    width: 65%;
    padding-top: 10vh;
}

#list li {
    display: inline-block; /*necessary*/
    margin-left: 3vw;
    margin-bottom: 3vh;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

#list li:hover {
    cursor: pointer;
    top: -7px;
}

#list li img {
    max-width: 100%;
}

.list-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.head {
    width: 100%;
    text-align: center;
    padding-top: 2.5em;
}

.types span {
    margin-left: 0;
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    color: #ffffffff;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 4em;
}

.ant-pagination-options {
    display: none;
}

.filter {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 3em;
    flex-direction: row;
}

.select {
    color: #000;
    width: 150px;
    margin-left: 2em;
    margin-top: 0.25em;
}

.MuiButton-label, .MuiTouchRipple-root{
    margin-top: 0;
    margin-right: 0;
    padding: 0 0 0 0;
}
